<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>同时使用多个内置过滤器</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="../css/common.css" />
<style type="text/css">
	.poi {cursor: pointer;}
	.container {
		width: 300px;
		margin: 0 auto;
	}
	.ulist {
		list-style-type: none;
	}
	.ulist li {
		padding-left: 10px;
		line-height: 30px;
		border-bottom: 1px dotted #ccc;
	}
	.ulist li span {
		display: inline-block;
		width: 80px;
	}
</style>
</head>
<body>
<div id="page">
	<header class="header">
		<a href="http://www.zuojj.com" title="Benjamin">Back to Home</a>
	</header>
	<section class="content">
		<div ng-app="myApp" class="container">
			<h3>同时使用多个内置过滤器</h3>
			<div ng-controller="FirstController as d">
				<div>
					<label for="search">搜索:</label>
					<input type="text" ng-model="search" id="search" placeholder="请输入搜索条件">
				</div>

				<ol  class="ulist">
					<li>
						<span>&nbsp</span>
						<span ng-click="ordername='name'; reverse=!reverse" class="poi">用户名</span>
						<span ng-click="ordername='sex'; reverse=!reverse" class="poi">性别</span>
					</li>
					<li ng-repeat="user in d.users | filter: search | orderBy: ordername : reverse  as results">
						<span>{{$index + 1}}</span>
						<span>{{user.name}}</span>
						<span>{{user.sex}}</span>
					</li>
					<li ng-if="results.length === 0">
						No Found
					</li>
				</ol>
			</div>
		</div>
	</section>
	<footer class="footer">
		<a href="http://www.zuojj.com" title="Benjamin-专注前端开发和用户体验">Benjamin-专注前端开发和用户体验</a>
	</footer>
</div>

<script type="text/javascript" src="../../tdocs/angular-1.3.4/angular.min.js"></script>	
<script type="text/javascript">
	angular.module('myApp', [])

	.controller('FirstController', function($scope, dataService) {
		this.users = dataService;
	})

	.factory('dataService', function() {
		return [{
			name: "John",
			sex : "male"
		}, {
			name: "Benjamin",
			sex : "male"
		}, {
			name: "Lucy",
			sex : "female"
		}, {
			name: "Sam",
			sex : "female"
		}, {
			name: "Park",
			sex : "male"
		}, {
			name: "Lenade",
			sex : "female"
		}, {
			name: "Lucky",
			sex : "female"
		}];
	});
</script>
</body>
</html>